@model App.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<div id="customBackground">
    <div id="formOuterBox">
        <div class="formInnerBox">
            <h1>Change your account settings</h1>
            <hr>

            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        <input type="button" value="CHANGE PASSWORD" onclick="location.href='@Url.Action("ChangePassword", "Manage")'" />
                    }
                    else
                    {
                        
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
            </dl>
        </div>
    </div>
</div>