@model App.Models.ViewModels.OrdersViewModel
@{
    ViewBag.Title = "My orders";
}

<div class="container">
    <div>
        <div class="leftside">
            <img src="~/Images/IndexImages/botanique.jpg" alt="img" class="container-img" />
        </div>
        <div class="rightside">
            <div valign="middle" id="myOrdersView">
                <br />
                <h1>My orders</h1>
                <br />
                <hr>
                <br />
                <table class="table">
                    <tr>
                        <th>OrderId</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>

                    @{
                        foreach (var item in Model.OrdersList)
                        {

                            <tr>
                                <td>@item.OrderId</td>
                                <td>@item.Date</td>
                                <td>@item.Status</td>
                                <td>@Html.ActionLink("View Details", "Details", new { id = item.OrderId })</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>